@media (min-width: 280px) and (max-width: 575.98px) {
    * {
        z-index: 0;
        font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    body {
        background-color: black;
    }
    option {
        background-color: #292b2c;
    }
    .container {
        border-bottom: 6px solid #222;
        height: 692px;
    }
    .nav-header {
        display: flex;
        width: 100%;
        margin: 0 auto;
        margin-top: 1em;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        align-content: center;
        text-align: center;
    }
    .svg-icon-netflix-logo {
        width: 92px;
        height: 50px;
        margin-right: 2.9em;
    }
    .dropdown {
        margin-left: 0;
        font-size: 13px;
        padding: 4px 4px 4px;
        margin-right: 2em;
    }
    .button-red-enter {
        font-size: 15px;
        padding: 6px 6px 6px;
    }
    .card-text-home-form {
        margin-top: 4.65em;
        width: 90%;
    }
    .card-text-home-form h1 {
        font-size: 1.625rem;
    }
    .card-text-home-form h2 {
        font-size: 1.125rem;
    }
    .card-text-home-form h3 {
        font-size: 19px;
    }
    .tests {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
    }
    #E-mail {
        width: 100%;
    }
    #go-btn {
        font-size: 1rem;
        min-height: 40px;
        align-items: center;
        line-height: initial;
        margin-left: 7.0em;
        width: 34%;
        margin-top: 1.6em;
    }
    .fa-chevron-right {
        font-size: 16px;
        margin-top: 1.7em;
        margin-left: 0.1em;
        font-weight: lighter;
    }
    .img-background {
        width: 100%;
        object-fit: cover;
    }
    .img-wrapper {
        z-index: -1;
        display: flex;
    }
    /* 2° container */
    .container-card {
        width: 100%;
        height: auto;
        background-color: black;
        padding-bottom: 7em;
        border-bottom: 6px solid #222;
    }
    .card2-animation {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 2em;
    }
    .card2-animation h1 {
        font-size: 1.625rem ; 
        color: var(--color-text);
        width: 85%;
        margin: 0 auto;
        font-weight: 600;
        margin-bottom: 0.7em;
    }
    .card2-animation h2 {
        font-size: 1.125rem;
        color: var(--color-text);
        width: 85%;
        margin: 0 auto;
        font-weight: 400;
        line-height: 1.27;
    }
    .our-story-card-img {
        width: 100%;
    }
    .our-story-card-video {
        position: absolute;
        width: 73%;
        margin-top: -13.7em;
        margin-left: -8.5em;
        z-index: -1;
    }
    /* 3° Container */
    .container-card3 {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 2em;
    }
    .container-card3 h1 {
        color: var(--color-text);
        font-size: 1.625rem;
        width: 80%;
        margin: 0 auto;
        font-weight: 600;
        margin-bottom: 0.7em;
    }
    .container-card3 h2 {
        color: var(--color-text);
        font-size: 1.125rem;
        width: 80%;
        margin: 0 auto;
        font-weight: 400;
        line-height: 1.27;
    }
    .text-card-3 {
        width: 80%;
        display: flex;
        color: var(--color-text);
        border-radius: 20px;
        border: 2px solid rgba(128, 128, 128, 0.842);
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 0 auto;
        margin-top: -6.6em;
        background-color: black;
        font-weight: 600;
        font-size: .9em;  
        position:unset;
        padding: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .img-32-48 {
        width: 13%;
        height: 48px;
        margin-left: -1em;
    }
    .col-6 {
        
        width: 50%;
        margin: 8px;
    }
    .span-text-dec{
        color: rgb(19, 100, 221);
        font-weight: 400;
        text-align: justify;
    }
    .fa-download{
        font-size: 23px;
    }
    .img-card-3{
        width: auto;
        margin-left: 0;
    }
    .our-story-card-img{
        width: 100%;
    }
    .text-group2{
        width: 0;
        margin-top: 0;
        margin-left: 0;
    }
    /* 4° container */ 
    .container4 {
        border-bottom: 6px solid #222;
        height: auto;
        padding-bottom: 2em;
    }
    .container-card4{
        display: flex;
        flex-direction: column;
        color: var(--color-text);
        margin-top: 3em;
        text-align: center;
    }
    .container-card4 h1{
        color: var(--color-text);
        font-size: 1.625rem;
        width: 80%;
        margin: 0 auto;
        font-weight: 600;
        margin-bottom: 0.7em;
    }
    .container-card4 h2{
        color: var(--color-text);
        font-size: 1.125rem;
        width: 85%;
        margin: 0 auto;
        font-weight: 400;
        line-height: 1.27;
        margin-bottom: 1em;
    }
    .our-story-card-video2{
        
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 62%;
        margin-top: -15.6em;
        margin-left: 4.4em;
        z-index: -1;
        
    }

    /* 5e container */
    .container5 {
        border-bottom: 6px solid #222;
        height: auto;
        padding-bottom: 2em;
    }
    .container-card5{
        display: flex;
        flex-direction: column;
        color: var(--color-text);
        margin-top: 3em;
        text-align: center;
    }
    .container-card5 h1{
        color: var(--color-text);
        font-size: 1.625rem;
        width: 90%;
        margin: 0 auto;
        font-weight: 600;
        margin-bottom: 0.7em;
    }
    .container-card5 h2{
        color: var(--color-text);
        font-size: 1.125rem;
        width: 89%;
        margin: 0 auto;
        font-weight: 400;
        line-height: 1.27;
        margin-bottom: 1em;
    }
    /* 6° container FOOTER */
    
    .grid{
        display: grid;
        color: #757575;
        width: auto;
        height: auto;
        margin-top: 2.5em;
    } 
    .p{
        text-align: start;
        width: 80%;
        margin: 0 auto;
    }
    .grid-items{
        cursor: pointer;
        font-size: 13px;
        padding: 20px;
        text-align: start;
        display: grid;
        width: 90%;
        height: 21em;
        margin: 0 auto;
        grid-template-columns: auto auto; 
        margin-top: 1.2em;
        line-height: 2.3;
    }
    .dropdown2 {
        color: #757575;
        margin-left: 0;
        font-size: 16px;
        width: 50%;
        padding: 15px 15px 15px;
    }
    .flex-footer{
        display: block;
        width: 80%;
        margin: 0 auto;
        margin-top: 7em;
        padding-bottom: 2em;
    }
    .flex-footer option{
        background-color: #292b2c;
    }
    .flex-footer select{
        color: #757575;
    }
    .text-group1{
        font-size: 1.625rem ; 
        color: var(--color-text);
        width: 85%;
        margin: 0 auto;
        font-weight: 600;
        margin-bottom: 0.7em;
    }
    .our-story-card-animation-container{
        width: auto !important;
    }
    .our-story-card-animation-container{
        width: auto;
        margin: 0;
    }
    .text-group2{
        border: none;
        width: auto;
        
    }
    .card4-animation{
      width: auto;
    }
    .text-group3 {
        font-size: 1.625rem ; 
        color: var(--color-text);
        width: 85%;
        margin: 0 auto;
        font-weight: 600;
        margin-bottom: 0.7em;
    }
    .text-group3 h1 {
        font-size: auto;
        margin-bottom: auto;
    }
    
    .text-group3 h2 {
        font-size: auto;
        margin-bottom: auto;
        font-weight: auto;
    }
}






/*         ------------------------------------------------               */ 
@media (min-width: 575.98px) and (max-width: 767.98px) {
    * {
        z-index: 0;
    }
    body {
        background-color: black;
    }
    .container {
        border-bottom: 6px solid #222;
        height: 692px;
    }
    .nav-header {
        display: flex;
        width: 100%;
        margin: 0 auto;
        margin-top: 1em;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        align-content: center;
    }
    .svg-icon-netflix-logo {
        width: 100px;
        height: 50px;
        margin-right: 14em;
        margin-left: 0em;
    }
    .dropdown {
        margin-left: 0;
        font-size: 10px;
        padding: 8px 8px 8px;
        margin-right: 3em;
    }
    .button-red-enter {
        font-size: 18px;
        padding: 9px 9px 9px;
    }
    .card-text-home-form {
        margin-top: 4.65em;
        width: 80%;
    }
    .card-text-home-form h1 {
        font-size: 2.9rem;
    }
    .card-text-home-form h2 {
        font-size: 1.6rem;
    }
    .card-text-home-form h3 {
        font-size: 18px;
    }
    .tests {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
    }
    #E-mail {
        width: 100%;
    }
    #go-btn {
        font-size: 1rem;
        min-height: 40px;
        align-items: center;
        line-height: initial;
        margin-left: 11em;
        width: 25%;
        margin-top: 1.6em;
    }
    .fa-chevron-right {
        font-size: 16px;
        margin-top: 1.6em;
        margin-left: 0.1em;
        font-weight: 100;
    }
    .img-background {
        width: 100%;
        object-fit: cover;
    }
    .img-wrapper {
        z-index: -1;
        display: flex;
    }
    /* 2° container */
    .container-card {
        width: 100%;
        height: auto;
        background-color: black;
        padding-bottom: 7em;
        border-bottom: 6px solid #222;
    }
    .card2-animation {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 4em;
    }
    .card2-animation h1 {
        font-size: 2.2rem;
        color: var(--color-text);
        width: 60%;
        margin: 0 auto;
        font-weight: 600;
        margin-bottom: 0.7em;
    }
    .card2-animation h2 {
        font-size: 1.625rem;
        color: var(--color-text);
        width: 70%;
        margin: 0 auto;
        font-weight: 400;
        line-height: 1.27;
    }
    .our-story-card-img {
        width: 100%;
    }
    .our-story-card-video {
        position: absolute;
        width: 85%;
        margin-top: -25em;
        margin-left: -20em;
        z-index: -1;
    }
    /* 3° Container */
    .container-card3 {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 2em;
    }
    .container-card3 h1 {
        color: var(--color-text);
        font-size: 1.625rem;
        width: 80%;
        margin: 0 auto;
        font-weight: 600;
        margin-bottom: 0.7em;
    }
    .container-card3 h2 {
        color: var(--color-text);
        font-size: 1.125rem;
        width: 80%;
        margin: 0 auto;
        font-weight: 400;
        line-height: 1.27;
    }
    .text-card-3 {
        width: 80%;
        display: flex;
        color: var(--color-text);
        border-radius: 20px;
        border: 2px solid rgba(128, 128, 128, 0.842);
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 0 auto;
        margin-top: -7em;
        background-color: black;
        font-weight: 600;
        font-size: 1.3em;
        padding: 6px;
        position:unset;
        padding: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .img-card-3{
        width: auto;
        margin-left: 0;
    }
    .our-story-card-img{
        width: 100%;
    }
    .text-group2{
        width: 0;
        margin-top: 0;
        margin-left: 0;
    }
    .img-32-48 {
        width: 15%;
        height: 100px;
        margin-left: -1em;
    }
    
    .col-6 {
        
        width: 50%;
        margin: 8px;
    }
    .span-text-dec{
        color: rgb(19, 100, 221);
        font-weight: 400;
        text-align: justify;
    }
    .fa-download{
        font-size: 34px;
    }
    /* 4° container */ 
    .container4 {
        border-bottom: 6px solid #222;
        height: auto;
        padding-bottom: 2em;
    }
    .container-card4{
        display: flex;
        flex-direction: column;
        color: var(--color-text);
        margin-top: 3em;
        text-align: center;
    }
    .container-card4 h1{
        color: var(--color-text);
        font-size: 1.625rem;
        width: 80%;
        margin: 0 auto;
        font-weight: 600;
        margin-bottom: 0.7em;
    }
    .container-card4 h2{
        color: var(--color-text);
        font-size: 1.125rem;
        width: 85%;
        margin: 0 auto;
        font-weight: 400;
        line-height: 1.27;
        margin-bottom: 1em;
    }
    .our-story-card-video2{
        
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 60%;
        margin-top: -24.8em;
        margin-left: 7em;
        z-index: -1;
        
    }

    /* 5e container */
    .container5 {
        border-bottom: 6px solid #222;
        height: auto;
        padding-bottom: 2em;
    }
    .container-card5{
        display: flex;
        flex-direction: column;
        color: var(--color-text);
        margin-top: 3em;
        text-align: center;
    }
    .container-card5 h1{
        color: var(--color-text);
        font-size: 1.625rem;
        width: 90%;
        margin: 0 auto;
        font-weight: 600;
        margin-bottom: 0.7em;
    }
    .container-card5 h2{
        color: var(--color-text);
        font-size: 1.125rem;
        width: 89%;
        margin: 0 auto;
        font-weight: 400;
        line-height: 1.27;
        margin-bottom: 1em;
    }
    /* 6° container FOOTER */
    
    .grid{
        display: grid;
        color: #757575;
        width: auto;
        height: auto;
        margin-top: 2.5em;
    } 
    .p{
        text-align: start;
        width: 80%;
        margin: 0 auto;
    }
    .grid-items{
        cursor: pointer;
        font-size: 13px;
        padding: 20px;
        text-align: start;
        display: grid;
        width: 90%;
        height: 21em;
        margin: 0 auto;
        grid-template-columns: auto auto; 
        margin-top: 1.2em;
        line-height: 2.3;
    }
    .dropdown2 {
        color: #757575;
        margin-left: 0;
        font-size: 16px;
        width: 50%;
        padding: 15px 15px 15px;
    }
    .flex-footer{
        display: block;
        width: 80%;
        margin: 0 auto;
        margin-top: 7em;
        padding-bottom: 2em;
    }
    .flex-footer option{
        background-color: #292b2c;
    }
    .flex-footer select{
        color: #757575;
    }
    .text-group1{
        font-size: 1.625rem ; 
        color: var(--color-text);
        width: 85%;
        margin: 0 auto;
        font-weight: 600;
        margin-bottom: 0.7em;
    }
    .our-story-card-animation-container{
        width: auto !important;
    }
    .our-story-card-animation-container{
        width: auto;
        margin: 0;
    }
    .text-group2{
        border: none;
        width: auto;
        
    }
    .card4-animation{
        width: auto;
      }
      .text-group3 {
        font-size: 1.625rem ; 
        color: var(--color-text);
        width: 85%;
        margin: 0 auto;
        font-weight: 600;
        margin-bottom: 0.7em;
    }
    .text-group3 h1 {
        font-size: auto;
        margin-bottom: auto;
    }
    
    .text-group3 h2 {
        font-size: auto;
        margin-bottom: auto;
        font-weight: auto;
    }
}

@media (min-width: 767.98px) and (max-width: 991.98px) {
    body {
        background-color: red;
    }
}