@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.netflix-sans-font-loaded {
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 0;
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    background-color: black;
}

:root {
    --color-text: #fff;
}

.container {
    border-bottom: 8px solid #222;
    height: 676px;
}

.nfLogo, .svg-icon-netflix-logo {
    padding-top: 0.5rem;
    height: 45px;
    width: 140px;
}

svg:not(:root) {
    overflow: hidden;
}

svg:not(:root) {
    overflow: hidden;
}

user agent stylesheet svg:not(:root) {
    overflow: hidden;
}

#netflix-logo {
    fill: #e50914;
    line-height: normal;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 2em;
}

.small-arrow {
    font-size: 15px;
}

.dropdown {
    border: 0.1px solid white;
    padding: 7px;
    border-radius: 2px;
    color: var(--color-text);
    margin-left: 65%;
}

.dropdown2 {
    border: 0.1px solid #757575;
    border-radius: 2px;
    color: #757575;
    margin-left: 65%;
}

select {
    text-transform: none;
    background-color: black;
    color: var(--color-text);
    border: none;
    text-align: center;
    font-size: 0.9rem;
}

.fas {
    font-size: 15px;
    text-align: center;
}

option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    background-color: #292b2c;
    text-transform: none;
    font: inherit;
    -webkit-rtl-ordering: logical;
    cursor: default;
    border: none;
}

.button-red-enter {
    text-decoration: none;
    text-transform: none;
    color: var(--color-text);
    padding: 10px 20px;
    line-height: normal;
    font-weight: 400;
    background-color: #e50914;
    border: none;
    border-radius: 3px;
    margin-right: 30px;
    cursor: pointer;
    font-size: 1rem;
}

.concord-img-gradient {
    background: rgba(0, 0, 0, 0.5);
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, .8)), color-stop(60%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .8)));
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, .8) 100%);
    background-image: -moz- oldlinear-gradient(bottom, rgba(0, 0, 0, .8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, .8) 100%);
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, .8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, .8) 100%);
    background-image: linear-gradient(to top, rgba(0, 0, 0, .8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, .8) 100%);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 706.984px;
}

/* BACKGROUND IMG */

.hero-card.vlv .concord-img {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

/* IMG Background */

.img-background {
    width: 100%;
    height: 706.984px;
    bottom: 0;
}

.img-wrapper {
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

/* Texto do centro com form para email */

.card-text-home-form {
    width: 50%;
    margin: 0 auto;
    color: var(--color-text);
    margin-top: 10%;
    text-align: center;
}

.mt-5 {
    margin-top: 1.7rem;
}

.card-text-home-form h1 {
    font-size: 3.125rem;
    line-height: 1.1;
    font-weight: bold;
    display: block;
}

.card-text-home-form h2 {
    font-size: 1.625rem;
    font-weight: 400;
    margin-bottom: 1em;
    margin-top: 0.7em;
}

.card-text-home-form h3 {
    font-size: 18px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 400;
}

/* form email */

#E-mail {
    width: 60%;
    height: 3.0rem;
    margin-right: 0;
    initial-letter: normal;
    appearance: none;
    color: #000;
    line-height: normal;
    border-radius: 2px;
    font-size: 16px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid #ffa00a;
    box-shadow: none;
    text-align: justify;
    padding: 10px 10px 0;
}

#go-btn {
    font-size: 1.7em;
    color: #fff;
    background-color: #e50914;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: .1px;
    border-radius: 2px;
    text-decoration: none;
    text-transform: none;
    margin-right: -1.2em;
    width: 23%;
    height: 3rem;
    border: none;
    border-radius: 2px;
    text-align: center;
}

.fa-chevron-right {
    margin-left: 0.5em;
    font-size: 23px;
}

/* 2° container */

.container-card {
    display: flex;
    border-bottom: 8px solid #222;
    padding-bottom: 3em;
}

.card2-animation {
    display: flex;
    flex-direction: row;
    color: var(--color-text);
    text-align: justify;
}

.text-group1 {
    width: 40%;
    margin-top: 8em;
    margin-left: 7em;
}

.text-group1 h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.our-story-card-animation-container {
    width: 50%;
    margin-left: 2em;
}

.our-story-card-img {
    width: 85%;
}

.our-story-card-video {
    position: absolute;
    margin-top: -21.3em;
    margin-left: 4.5em;
    width: 35%;
    z-index: -1;
}

/* 3° container */

.container-card {
    color: var(--color-text);
    display: flex;
}

.container-card3 {
    display: flex;
    flex-direction: row;
}

.text-group2 {
    width: 40%;
    margin-top: 6em;
    margin-left: 6em;
   
}

.text-group2 h1 {
    font-size: 3.2em;
    margin-bottom: 0.5em;
}

.text-group2 h2 {
    font-size: 1.7em;
    margin-bottom: 0.5em;
    font-weight: 500;
}

.img-card-3 {
    width: auto;
    margin-left: 4em;
  
}

.our-story-card-img {
    width: 85%;
    
}

.text-card-3 {
    width: 25%;
    display: flex;
    color: var(--color-text);
    border-radius: 8px;
    border: 2px solid rgba(128, 128, 128, 0.842);
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    margin-top: 21em;
    margin-left: 55em;
    background-color: black;
    font-weight: 600;
    font-size: .9em;
    z-index: 1;
    position: absolute;
    padding: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.img-32-48 {
    width: 15%;
    height: 60px;
    margin-left: -1em;
}

.col-6 {
    width: 60%;
    margin: 8px;
}

.span-text-dec {
    color: rgb(19, 100, 221);
    font-weight: 400;
    text-align: justify;
}

.fa-download {
    font-size: 23px;
}

/*  4° container */
.container4{
    border-bottom: 8px solid #222;
    padding-bottom: 3em;
}

.text-group3 {
    width: 40%;
    margin-top: 10em;
    margin-left: 7em;
}
.text-group3 h1 {
    font-size: 3.2em;
    margin-bottom: 0.5em;
}

.text-group3 h2 {
    font-size: 1.7em;
    margin-bottom: 0.5em;
    font-weight: 500;
}
.container4 {
   
    display: flex;
    width: auto;
}

.container-card4 {
  
    display: flex;
    flex-direction: row;
    width: auto;
    color: var(--color-text);
}
.our-story-card-img2{
    
    width: auto;
}
.our-story-card-animation-container{
    width: auto;
    margin-left: 3em;
    margin-top: 3em;
}
.card4-animation{
    width: 60%;
}
.our-story-card-video2{
    position: absolute;
     width: 30%;
    margin-top: -27em;
    margin-left: 7em;
    z-index: -1;
}
